@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply text-blue-500;
}

@layer base {
  :root {
    --fill-color: #ffffff;
    --fill-color-variant: rgba(198, 216, 255, 0.6);
  }

  .theme-red {
    --fill-color: #ffe6e6;
    --fill-color-variant: #ffddd4;
  }
  .theme-yellow {
    --fill-color: #f8ffc0;
    --fill-color-variant: #e1fc98;
  }

  .section {
    @apply py-10 min-h-screen container mx-auto;
  }
  h1 {
    @apply text-center text-4xl mb-5;
  }
}

@layer components {
  .btn-blue {
    @apply bg-blue-500 hover:bg-blue-600 text-white font-bold rounded-lg;
  }
}
